<div class="filter-sidebar__item">
    <button type="button" class="filter-sidebar__button font-16 text-capitalize fw-500">Rating</button>
    <div class="filter-sidebar__content">
        <ul class="filter-sidebar-list">
            <app-rating-item StarNumber="View All" ></app-rating-item>
            <app-rating-item StarNumber="1 star and above " [total]="1314"></app-rating-item>
            <app-rating-item StarNumber="2 stars and above " [total]="8634"></app-rating-item>
            <app-rating-item StarNumber="3 stars and above " [total]="1737"></app-rating-item>
            <app-rating-item StarNumber="4 stars and above " [total]="314"></app-rating-item>
            <app-rating-item StarNumber="5 stars " [total]="2514"></app-rating-item>
        </ul>
    </div>
</div>