<div class="filter-sidebar__item">
    <button type="button" class="filter-sidebar__button font-16 text-capitalize fw-500">Date Updated</button>
    <div class="filter-sidebar__content">
        <ul class="filter-sidebar-list">
            <app-date-updated-item Date="Any Date " [total]="1412"></app-date-updated-item>
            <app-date-updated-item Date="In the last year " [total]="1412"></app-date-updated-item>
            <app-date-updated-item Date="In the last month " [total]="1412"></app-date-updated-item>
            <app-date-updated-item Date="In the last week " [total]="1412"></app-date-updated-item>
            <app-date-updated-item Date="In the last day " [total]="1412"></app-date-updated-item>
        </ul>
    </div>
</div>