<section class="banner section-bg z-index-1">
    <img src="assets/images/gradients/banner-gradient.png" alt="" class="bg--gradient">

    <img src="assets/images/shapes/element-moon1.png" alt="" class="element one">
    <img src="assets/images/shapes/element-moon2.png" alt="" class="element two">
    
    <div class="container container-two">
        <div class="row align-items-center gy-sm-5 gy-4">
            <div class="col-lg-6">
                <div class="banner-inner position-relative pe-lg-5">
                    <div class="banner-content">
                        <h1 class="banner-content__title">Improving Commerce for All</h1>
                        <p class="banner-content__desc font-18">
                            MKSHOP is championing the next generation of entrepreneurs, the world's leading brands, and everyone in between.</p>
                        
                    </div>            
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-thumb">
                    <img src="assets/images/thumbs/banner-img.png" alt="">
                    <img src="assets/images/shapes/dots.png" alt="" class="dotted-img">
                    <img src="assets/images/shapes/element2.png" alt="" class="element two end-0">

                    <div class="statistics animation bg-main text-center">
                        <h5 class="statistics__amount text-white">50k</h5>
                        <span class="statistics__text text-white font-14">Customers</span>
                    </div>

                    <div class="statistics style-two bg-white text-center">
                        <h5 class="statistics__amount statistics__amount-two text-heading">22k</h5>
                        <span class="statistics__text text-heading font-14">Themes & Plugins</span>
                    </div>
                    
                </div>  
            </div>
        </div>
    </div>
</section>